<ui:composition template="/faces/admin/adminpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <p:dataTable id="dataTable" var="productCategory" value="#{productCategories.lazyModel}" styleClass="userDataTableStyle"
                         paginator="true" rows="3" selection="#{productCategories.selectedEntities}"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         lazy="true" rowsPerPageTemplate="3, 10, 15">
                <f:facet name="header">
                    Termék kategóriák
                </f:facet>
                <p:column selectionMode="multiple" style="width:18px" />
                <p:column  sortBy="#{productCategory.name}">
                    <f:facet name="header">
                        <h:outputText value="Név" />
                    </f:facet>
                    <p:commandLink value="#{productCategory.name}" update=":editProductCategoryForm:display" oncomplete="$('#editProductCategoryDialog').show()"  title="View">
                        <f:setPropertyActionListener value="#{productCategory}" target="#{productCategories.editedEntity}" />
                    </p:commandLink>
                </p:column>

                <f:facet name="footer">
                    <p:commandButton value="Új termék kategória" update=":editProductCategoryForm:display" actionListener="#{productCategories.prepareNewEntity}" oncomplete="$('#editProductCategoryDialog').show()" icon="ui-icon-star"/>
                    <p:commandButton value="Termékek kategóriák törlése" actionListener="#{productCategories.doDeleteEntities}"
                                     update="dataTable" icon="ui-icon-trash"/>
                </f:facet>
            </p:dataTable>
        </h:form>


        <p:dialog header="Termék kategória adatai" widgetVar="editProductCategoryDlg" resizable="false" id="editProductCategoryDialog">
            <h:form id="editProductCategoryForm">
                <p:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">
                    <h:outputText value="Termék kategória neve:"></h:outputText>
                    <h:inputText value="#{productCategories.editedEntity.name}" required="true" requiredMessage="Név!"/>

                    <f:facet name="footer">
                        <p:commandButton value="Mentés" update=":form:dataTable, :growl"
                                         oncomplete="handleSubmitRequest(xhr, status, args, 'editProductCategoryDialog','editProductCategoryForm'); "
                                         actionListener="#{productCategories.doSaveEntity}"/>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:growl id="growl" showDetail="true" life="5000" />

        <script type="text/javascript">
            function handleSubmitRequest(xhr, status, args, dialogName, formName) {
                dialog = jQuery('#'+dialogName);
                if(args.validationFailed) {
                    dialog.effect("shake", { times:3 }, 100);
                } else {
                    clearForm(formName);
                    $('#editProductCategoryDialog').hide();
                }
            }
            function clearForm(formName){
                jQuery('#'+formName).each(function(){
                    this.reset();
                });
            }
        </script>
    </ui:define>
</ui:composition>