<ui:composition template="/faces/admin/adminpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <p:dataTable id="dataTable" var="product" value="#{products.lazyModel}" styleClass="userDataTableStyle"
                         paginator="true" rows="3" selection="#{products.selectedEntities}"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         lazy="true" rowsPerPageTemplate="5, 10, 15">
                <f:facet name="header">
                    Termékek
                </f:facet>
                <p:column selectionMode="multiple" style="width:18px" />
                <p:column  sortBy="#{product.name}">
                    <f:facet name="header">
                        <h:outputText value="Név" />
                    </f:facet>
                    <p:commandLink value="#{product.name}" update=":editProductForm:display" oncomplete="$('#editProductDialog').show()"  title="View">
                        <f:setPropertyActionListener value="#{product}" target="#{products.editedEntity}" />
                    </p:commandLink>
                </p:column>

                <p:column sortBy="#{product.price}">
                    <f:facet name="header">
                        <h:outputText value="Ár" />
                    </f:facet>
                    <h:outputText value="#{product.price}" />
                </p:column>

                <p:column sortBy="#{product.productCategory.name}">
                    <f:facet name="header">
                        <h:outputText value="Kategória" />
                    </f:facet>
                    <h:outputText value="#{product.productCategory.name}" />
                </p:column>

                <f:facet name="footer">
                    <p:commandButton value="Új termék" update=":editProductForm:display" actionListener="#{products.prepareNewEntity}" oncomplete="$('#editProductDialog').show()" icon="ui-icon-star"/>
                    <p:commandButton value="Termékek törlése" actionListener="#{products.doDeleteEntities}"
                                     update="dataTable" icon="ui-icon-trash"/>
                </f:facet>
            </p:dataTable>
        </h:form>


        <p:dialog header="Termék szerkesztése" widgetVar="productDetailDlg" resizable="false" id="editProductDialog" >
            <h:form id="editProductForm">
                <p:panelGrid id="display" columns="2" cellpadding="4" style="margin:0 auto;">
                    <h:outputText value="Termék neve:"></h:outputText>
                    <h:inputText value="#{products.editedEntity.name}" required="true" requiredMessage="Név!"/>

                    <h:outputText value="Termék ára:"></h:outputText>
                    <h:inputText value="#{products.editedEntity.price}" required="true" requiredMessage="Ár!"/>

                    <h:outputText value="Kategória:"></h:outputText>
                    <p:selectOneMenu id="product_category" converter="#{productCategoryConverter}" value="#{products.editedEntity.productCategory}" effect="fold">
                        <f:selectItems value="${products.productCategories}" var="productCategory" itemLabel="#{productCategory.name}" itemValue="#{productCategory}"/>
                    </p:selectOneMenu>

                    <f:facet name="footer">
                        <p:commandButton value="Mentés" update=":form:dataTable, :growl"
                                         oncomplete="handleSubmitRequest(xhr, status, args, 'productDetailDialog','editProductForm'); "
                                         actionListener="#{products.doSaveEntity}"/>
                    </f:facet>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:growl id="growl" showDetail="true" life="100000" />

        <script type="text/javascript">
            function handleSubmitRequest(xhr, status, args, dialogName, formName) {
                dialog = jQuery('#'+dialogName);
                if(args.validationFailed) {
                    dialog.effect("shake", { times:3 }, 100);
                } else {
                    clearForm(formName);
                    $('#editProductDialog').hide();
                }
            }
            function clearForm(formName){
                jQuery('#'+formName).each(function(){
                    this.reset();
                });
            }
        </script>
    </ui:define>
</ui:composition>