<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>
        <ui:insert name="title">

        </ui:insert>
    </title>
</h:head>
<h:body>
    <h:form>
        <p:growl id="messages"/>

        <p:menubar>

            <p:menuitem value="Termék kategóriák" url="/faces/admin/crud/productcategories/productcategories.xhtml" />
            <p:menuitem value="Termékek" url="/faces/admin/crud/products/products.xhtml" />
            <p:menuitem value="Raktárkészlet kezelése" url="/faces/admin/inventorymanagement/inventorymanagement.xhtml" />
            <p:menuitem value="Rendelések kezelése" url="/faces/admin/orders/Orders.xhtml" />

            <f:facet name="options">
                <p:commandButton value="Kijelentkezés" action = "#{admin.logout}" icon="ui-icon-extlink" />
            </f:facet>
        </p:menubar>
    </h:form>

    <div>
        <ui:insert name="content">

        </ui:insert>
    </div>

</h:body>
</html>
