<ui:composition template="/faces/guest/guestpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <p:dataList value="#{cart.cartItems}" var="cartItem">
                <f:facet name="header">
                    Kosárban lévő termékek
                </f:facet>
                #{cartItem.product.name}, #{cartItem.quantity}
            </p:dataList>

            <h:commandButton value="Rendelés elküldése" action="#{cart.confirmOrder}">

            </h:commandButton>
        </h:form>

    </ui:define>
</ui:composition>