<ui:composition template="/faces/guest/guestpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <h:outputText value="Köszönjük megrendelését! Megrendelésének státuszát nyomon követketi a következő linken: ">

            </h:outputText>

            <h:outputLink value="${confirmOrder.orderLink}">
                ${confirmOrder.orderLink}
            </h:outputLink>
        </h:form>

    </ui:define>
</ui:composition>