<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>
        <ui:insert name="title">

        </ui:insert>
    </title>
</h:head>
<h:body>
    <h:form>
        <p:growl id="messages"/>

        <p:menubar>

            <p:menuitem value="Rendelés" url="/faces/guest/shop.xhtml" />
            <p:menuitem value="Kosár" url="/faces/guest/cart.xhtml" />
            <p:menuitem value="Bejelentkezés" url="/faces/login.xhtml" />
        </p:menubar>
    </h:form>

    <div>
        <ui:insert name="content">

        </ui:insert>
    </div>

</h:body>
</html>
