<ui:composition template="/faces/guest/guestpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">

        <p:layout >
            <p:layoutUnit position="west" resizable="true" minSize="40">
                <h:form id="productCategoryForm">
                <p:dataList value="#{shop.productCategories}" var="productCategory">
                    <f:facet name="header">
                        Termék kategóriák
                    </f:facet>
                    <p:commandLink value="#{productCategory.name}" update=":productForm:products">
                        <f:setPropertyActionListener value="#{productCategory}" target="#{shop.selectProductCategory}" />
                    </p:commandLink>
                </p:dataList>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="center">

                <h:form id="productForm">
                    <p:dataGrid var="product" value="#{shop.lazyModel}" columns="3" layout="grid"
                                rows="12" paginator="true" id="products" lazy="true"
                                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                rowsPerPageTemplate="6,12,16">

                        <f:facet name="header">
                            Termékek
                        </f:facet>

                        <p:panel header="#{product.name}" style="text-align:center">
                            <h:panelGrid columns="1" style="width:100%">
                                <img src="https://malnapc.hu/wp-content/uploads/2016/03/Raspberry_Pi_3.jpg" width="100" height="100">

                                </img>
                                <h:outputText value="Raktáron: ${shop.getStockCount(product)} db"></h:outputText>
                                <h:outputText value="${product.price} Ft"></h:outputText>

                                <p:commandLink value="Kosárba" actionListener="#{cart.addProduct(product)}">

                                </p:commandLink>
                            </h:panelGrid>
                        </p:panel>

                    </p:dataGrid>
                </h:form>

            </p:layoutUnit>
        </p:layout>

    </ui:define>
</ui:composition>