<ui:composition template="/faces/guest/guestpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <p:dataList value="#{viewOrderBean.order.orderItems}" var="orderItem">
                <f:facet name="header">
                    Megrendelt termékek
                </f:facet>
                <h:outputText value="${orderItem.product.name} ${orderItem.quantity} db - ${orderItem.calculateTotal()} Ft">

                </h:outputText>
            </p:dataList>

            <h:outputText value="Végösszeg: ${viewOrderBean.order.calculateTotal()} Ft"></h:outputText>
        </h:form>

    </ui:define>
</ui:composition>