<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css"></link>
</h:head>
<h:body>
    <div class="login-page">
        <div class="form">
            <img src="../images/webshop.png" alt="Webshop icon" height="54" width="54"></img>

            <h:form id="loginForm" class="login-form">

                <p:growl id="login_error" showDetail="true" life="3000"/>

                   <!-- <h:outputText value="Username"/> -->

                    <p:inputText id="username" value="#{login.username}" placeholder="Username"></p:inputText>

                    <p:message for="username"></p:message>

                   <!-- <h:outputText value="Password"/> -->

                    <p:password id="password" value="#{login.password}" placeholder="Password"></p:password>

                    <p:commandButton action="#{login.login}" value="Login"></p:commandButton>
                    <p class="message">Not registered?
                        <h:commandLink action="#{login.redirectRegistration}" value="Registration page" />
                      <!--  <a href="registration.xhtml?faces-redirect=true">Create an account</a>-->
                    </p>

            </h:form>
        </div>
    </div>
</h:body>

</html>