<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css"/>
</h:head>
<h:body>
    <h:form  id="registrationForm" class="register">
        <h1>Webshop Registration</h1>
        <label class="obinfo">* obligatory fields</label>

        <fieldset class="row">
            <legend>Account Details
            </legend>
            <p>
                <label>Username *
                </label>
                <p:inputText id="username" value="#{registration.username}"></p:inputText>
            </p>
            <p>
                <label>Email *
                </label>
                <p:inputText id="email" value="#{registration.email}"></p:inputText>
            </p>
            <p>
                <label>Repeat email *
                </label>
                <p:inputText id="email2" value="#{registration.email2}"></p:inputText>
            </p>
            <p>
                <label>Password*
                </label>
                <p:password id="password" value="#{registration.password}"></p:password>
            </p>
            <p>
                <label>Repeat Password*
                </label>
                <p:password id="password2" value="#{registration.password2}"></p:password>
            </p>
        </fieldset>
        <div class="infobox">
            <h4>Helpful Information</h4>
            <p>Here comes some explaining text, sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <fieldset class="row">
            <legend>Personal Details
            </legend>
            <p>
                <label>Name *
                </label>
                <p:inputText id="name" value="#{registration.fullname}"/>
            </p>
            <p>
                <label class="optional">Phone
                </label>
                <p:inputMask id="phone" value="#{registration.phone}" maxlength="10" mask="(999) 999-9999"/>
            </p>
            <p>
                <label class="optional">Birthdate</label>
                <p:inputMask id="date" value="#{registration.birthDate}" mask="9999/99/99"/>
            </p>
        </fieldset>
        <fieldset class="row">
            <legend>Billing address</legend>
            <p>
                <label class="optional">Street
                </label>
                <p:inputText id="street" value="#{registration.address}"/>
            </p>
            <p>
                <label class="optional">City
                </label>
                <p:inputText id="city" value="#{registration.city}"/>
            </p>
            <p>
                <label class="optional">Country
                </label>
                <select>
                    <option value="1">Magyarország</option>
                </select>
            </p>
        </fieldset>

        <fieldset class="row">
            <legend>Terms and Mailing</legend>
            <p class="agreement">
                <label>* I accept the Terms and Conditions</label>
                <p:selectBooleanCheckbox value="#{registration.acceptTerms}"/>
            </p>
        </fieldset>
        <fieldset class="row">
            <p:commandButton action="#{registration.register}" value="Register" class="button"></p:commandButton>
            <p class="message">Already registered? <a href="login.xhtml">Login with an exsisting account</a></p>
        </fieldset>
    </h:form>
</h:body>
</html>