<ui:composition template="/faces/customer/customerpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <p:dataList value="#{customerOrdersManagedBean.customerOrders}" var="order">
                <f:facet name="header">
                    Megrendelések
                </f:facet>
                <p:commandLink value="${order.identifier} - ${order.orderDate}"
                               action="#{customerOrdersManagedBean.viewProductOrder(order)}">
                </p:commandLink>
            </p:dataList>
        </h:form>

    </ui:define>
</ui:composition>