<ui:composition template="/faces/admin/adminpage.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form id="form">
            <p:dataTable id="dataTable" var="order" value="#{orders.lazyModel}" styleClass="userDataTableStyle"
                         paginator="true" rows="3" selection="#{orders.selectedEntities}"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         lazy="true" rowsPerPageTemplate="5, 10, 15">
                <f:facet name="header">
                    Rendelések
                </f:facet>
                <p:column selectionMode="multiple" style="width:18px" />
                <p:column >
                    <f:facet name="header">
                        <h:outputText value="Felhasználó" />
                    </f:facet>
                    <h:outputText value="#{order.webShopUser.username}"/>
                </p:column>

                <p:column sortBy="#{order.orderStatus}">
                    <f:facet name="header">
                        <h:outputText value="Státusz" />
                    </f:facet>
                    <p:commandLink value="#{order.orderStatus}" update="dataTable" action="#{orders.markAsComplete}">
                        <f:setPropertyActionListener value="#{order}" target="#{orders.editedEntity}" />
                    </p:commandLink>
                </p:column>


            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>